# This is Git's per-user configuration file.
[user]
	email = hi+github@berly.kim
	name = Kimberly Grey
[alias]
	lg = log --graph --oneline --color
	st = status
[core]
	excludesfile = ~/dotfiles/.gitignore_global
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	editor = nano
[color]
	ui = auto
[merge]
	log = true
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr) %C(blue)%ci%Creset %gd
[push]
	default = matching
	followTags = true
[pull]
	rebase = true
[init]
	defaultBranch = main
