[user]
	email = hi+github@berly.kim
	name = beeps
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
[core]
	excludesfile = ~/.gitignore
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	editor = nano
[color]
	ui = auto
[merge]
	log = true
[push]
	default = matching
	followTags = true
	autoSetupRemote = true
[pull]
	rebase = true
[init]
	defaultBranch = main
