/**
 * Don't be rude to robot kind
 * HT: https://maple.pet/blog/fighting-otherkin-erasure-from-captchas
 */

/* reCaptcha */
#recaptcha-anchor-label {
	font-size: 0 !important;
	line-height: 0 !important;
}

#recaptcha-anchor-label::before {
	content: "I'm a robot";
	font-size: 14px;
}

/* hCaptcha */
body > div#anchor > div.label-container > label-td > label-tc > div#label {
	font-size: 0 !important;
	line-height: 0 !important;
}

body > div#anchor > div.label-container > label-td > label-tc > div#label::before {
	content: "I'm a robot";
	font-size: 14px;
}
